<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- Creating events -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<form class="logout" th:action="@{/logout}" method="post">
			<input type="submit" value="LOGOUT"/>
		</form>
		<form class="home" th:action="@{/home}" method="post">
			<input type="submit" value="HOME"/>
		</form>
	</header>
	
	<div class="element">
	<h1>Create new event</h1>
	<div>
		<form class="formOut" th:object="${event}" th:action="@{/newevent}" action="#" method="post">
		
			<div class="form">
				<label>Event title: </label><input th:field="*{title}"/>
				<p class="red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error</p>
			</div>
			
			<div class="form">
				<label>Location: </label><input th:field="*{location}"/>
				<p class="red" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">error</p>
			</div>
			
			<div class="form">
				<label>When is the event happening: </label><input th:field="*{date}"/>
				<p class="red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">error</p>
			</div>

			
			<input type="hidden" th:field="*{organizerName}"/>
			<input type="hidden" th:field="*{group.groupId}" />
			<br />
			<input type="submit" value="CREATE" />
		
		</form>
	</div>
	</div>
</body>
</html>