<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

TEMPLATE FOR FAILED USER INTERACTION

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>
	<form class="logout" th:action="@{/logout}" method="post">
		<input type="submit" value="logout"/>
	</form>
	
	<h3>Create new group</h3>
	<div>
		<form class="formOut" th:object="${group}" th:action="@{/creategroup}" action="#" method="post">
			<div class="form"><label>Name for the group:</label><input th:field="*{groupName}"/>
			<p th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">error</p>
			</div>
			<input type="hidden" th:field="*{owner}" />
			<br />
			<input type="submit" value="CREATE" />
		
		</form>
	</div>
</body>
</html>