<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

HOMEPAGE FOR A CERTAIN GROUP

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<form class="logout" th:action="@{/logout}" method="post">
		<input type="submit" value="logout"/>
	</form>
	<style>.logout{padding-top: 1%; padding-right: 1%; float: right;}</style>
	<h1>Group calendar</h1>
	<div th:object="${group}" action="#">
		<h3 th:text="${group.groupName}"></h3>
		<h4>Members:</h4>
		<table>
			<tr><th>First name</th><th>Last name</th><th>Username</th></tr>
			<tr th:each="member : ${group.members}">
				<td th:text="${member.firstName}"></td>
				<td th:text="${member.lastName}"></td>
				<td th:text="${member.username}"></td>
				<td th:if="${owner}">
					<span th:if="${member.id == group.owner}">owner</span>
		   			<span th:unless="${member.id == group.owner}">
		   				<a th:href="@{/removemember/{groupId}/{id} (id=${member.id},groupId=${group.groupId})}">Remove member</a>
		   			</span>
				</td>
			</tr>
		</table>
		
		<a th:href="@{/{id}/applicants (id=${group.groupId})}">Applicants</a>
		
	
	
	<div th:if="${owner}">
	<p>Group owner settings:</p>
	<a th:href="@{/deletegroup/{id} (id=${group.groupId})}">Delete group</a>
	</div>
	
	</div>
</body>
</html>