<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

HOMEPAGE FOR A CERTAIN GROUP

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<form class="logout" th:action="@{/logout}" method="post">
			<input type="submit" value="LOGOUT"/>
		</form>
		<form class="home" th:action="@{/home}" method="post">
			<input type="submit" value="HOME"/>
		</form>
	</header>
	
	<div th:object="${group}" action="#">
		<div class="element">
		<h1 th:text="${group.groupName}"></h1>
		<p th:text="${group.description}"></p>
		<h4>Members:</h4>
		<table class="list">
			<tr><th>First name</th><th>Last name</th><th>Username</th><th th:if="${owner}">Action</th></tr>
			<tr th:each="member : ${group.members}">
				<td th:text="${member.firstName}"></td>
				<td>-------</td>
				<td th:text="${member.username}"></td>
				<td th:if="${owner}">
					<span th:if="${member.id == group.owner}">owner</span>
		   			<span th:unless="${member.id == group.owner}">
		   				<a class="tableLink" th:href="@{/removemember/{groupId}/{id} (id=${member.id},groupId=${group.groupId})}">Remove member</a>
		   			</span>
				</td>

			</tr>
		</table>
		
		<br />
		<a class="link" th:href="@{/{id}/applicants (id=${group.groupId})}">Applicants</a>
		</div>
		
		<div class="elementFull">
		<h3>Upcoming events</h3>
		
		<table class="list">
		<tr><th>Event</th><th>Location</th><th>Date</th><th>Organizer</th><th>Participants</th><th>Participating</th><th>Action</th><th>Organizer action</th></tr>
		<tr th:each="display : ${events}">
			<td th:text="${display.event.title}"></td>
			<td th:text="${display.event.location}"></td>
			<td th:text="${display.event.date}"></td>
			<td th:text="${display.event.organizerName}"></td>
			<td th:text="${display.participating}"></td>
			<td>
				<span th:if="${display.userParticipating}" class="green">Yes</span>
				<span th:unless="${display.userParticipating}" class="red">No</span>
			</td>
			<td>
				<span th:if="${display.userParticipating}" class="green"><a class="tableLink" th:href="@{/participationstatus/{eventId}/{action} (eventId=${display.event.eventId},action=0)}">Cancel</a></span>
				<span th:unless="${display.userParticipating}" class="red"><a class="tableLink" th:href="@{/participationstatus/{eventId}/{action} (eventId=${display.event.eventId},action=0)}">Participate</a></span>
			</td>
			<td>
				<span th:if="${display.isOrganizer}" class="green"><a class="tableLink" th:href="@{/delete-event/{eventId} (eventId=${display.event.eventId})}">Remove event</a></span>
				<span th:unless="${display.isOrganizer}" class="red"></span>
			</td>
		</tr>
		</table>
		<br />
		<a class="link" th:href="@{/newevent/{id} (id=${group.groupId})}">Create new event</a>
		</div>
	

		<div th:if="${owner}" class="element">
		<p>Group owner settings:</p>
		<a class="link" th:href="@{/deletegroup/{id} (id=${group.groupId})}">Delete group</a>
		</div>

	
	</div>
</body>
</html>