<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

LISTS ALL GROUPS THAT EXIST AND ALLOWS AUTHENTICATED USERS TO APPLY FOR THEM

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<form class="logout" th:action="@{/logout}" method="post">
			<input type="submit" value="LOGOUT"/>
		</form>
		<form class="home" th:action="@{/home}" method="post">
			<input type="submit" value="HOME"/>
		</form>
	</header>
	<br>
	<br>
	<div class="element">
		<a class="link" href="/home">Back</a>
		<h3>Groups:</h3>
		<table class="list">
			<tr><th>Group name:</th><th>Description:</th><th>Action:</th></tr>
			<tr th:each="group: ${groups}">
				<td th:text="${group.groupName}"></td>
				<td th:text="${group.description}"></td>
				<td><a class="tableLink" th:href="@{/apply/{id} (id=${group.groupId})}">Apply</a></td>
			</tr>
		</table>
	</div>
</body>
</html>