<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

USERS PERSONAL HOMEPAGE

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<form class="logout" th:action="@{/logout}" method="post">
			<input type="submit" value="LOGOUT"/>
		</form>
		<form class="home" th:action="@{/home}" method="post">
			<input type="submit" value="HOME"/>
		</form>
	</header>
	<br />
	<br />
	<br />
	
	
	<div th:object="${user}"><!-- USER RELATED INFO HERE -->
	

	<div class="element">
		<h1 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h1>
		<h3>Groups</h3>
		<a class="link" href="/grouplist">Find new groups</a>
		<br>
		<br>
		<a class="link" href="/creategroup">Create new group</a>
		<p></p>
	</div>
	<div class="element">
		<h3>My groups</h3>
		<table class="list">
			<tr><th>Name</th><th>Homepage</th><th>Action</th></tr>
			<tr th:each="group : ${groups}">
				<td th:text="${group.groupName}"></td>
				<td><a class="tableLink" th:href="@{/grouphome/{id} (id=${group.groupId})}">SELECT</a></td>
				<td>
					<span th:if="${user.id == group.owner}">owner</span>
					<span th:unless="${user.id == group.owner}">
						<a class="tableLink" th:href="@{/leavegroup/{id} (id=${group.groupId})}">LEAVE</a>
					</span>
				</td>
			</tr>
		</table>
	</div>
	
	<div class="elementFull">
		<h3>Upcoming events:</h3>
		<table class="list">
			<tr><th>Event</th><th>Group</th><th>Date</th><th>Location</th><th>Participants</th><th></th></tr>
			<tr th:each="event : ${events}">
				<td th:text="${event.event.title}"></td>
				<td th:text="${event.event.group.groupName}"></td>
				<td th:text="${event.event.date}"></td>
				<td th:text="${event.event.location}"></td>
				<td th:text="${event.participating}"></td>
				<td><a class="tableLink" th:href="@{/participationstatus/{eventId}/{action} (eventId=${event.event.eventId},action=1)}">Cancel participation</a></td>
			</tr>
		</table>
	</div>
	
	</div>
</body>
</html>