<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

USERS PERSONAL HOMEPAGE

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<form class="logout" th:action="@{/logout}" method="post">
		<input type="submit" value="logout"/>
	</form>
	<style>.logout{padding-top: 1%; padding-right: 1%; float: right;}</style>
	<h1>Group calendar</h1>
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	
	<div th:object="${user}"><!-- USER RELATED INFO HERE -->
	
	<p></p>
	<a href="/grouplist">Find new groups</a>
	<br>

	<h3>Groups</h3>
	<a href="/creategroup">Create new group</a><br /><br>
	<table th:object="${groups}">
		<tr><th>Name</th><th>Homepage</th><th>action</th></tr>
		<tr th:each="group : ${groups}">
			<td th:text="${group.groupName}"></td>
			<td><a th:href="@{/grouphome/{id} (id=${group.groupId})}">SELECT</a></td>
			<td>
				<span th:if="${user.id == group.owner}">owner</span>
				<span th:unless="${user.id == group.owner}">
					<a th:href="@{/leavegroup/{id} (id=${group.groupId})}">LEAVE</a>
				</span>
			</td>
		</tr>
	</table>
	
	<!-- 
	<span th:if="${user.id == group.owner}">owner</span>
	<span th:unless="${user.id == group.owner}">
		<a th:href="@{/leavegroup/{id} (id=${group.groupId})}">LEAVE</a>
	</span>
	 -->
	
	</div>
</body>
</html>