<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

INDEX PAGE FOR COMPLETELY NEW USERS

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>

	<header>
		<form class="logout" th:action="@{/logout}" method="post">
			<input type="submit" value="logout"/>
		</form>
	</header>
	<div class="element">
		<h1>Group calendar</h1>
		<div>
		<p>- Find groups</p>
		<p>- Create new groups for you and your friends</p>
		<p>- Organize events with your group</p>
		</div>
	</div>
	<div class="elementFull">
		<h3>To get started please login or create new account:</h3>
		<a class="link" href="/login">Login</a>
		<a class="link" href="/signup">Create new account</a>
	</div>
</body>
</html>