<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 

LOGIN FORM

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">
</head>
<body>
	<a href="/signup">Create new account</a>
	<form class="formOut" th:action="@{/login}" method="post">
	<h1>Login</h1>
		<div class="form"><label class="label"> Username: </label><input type="text" name="username"/></div>
		<div class="form"><label class="label"> Password: </label><input type="password" name="password"/></div><br />
		<div><input type="submit" value="Login"/></div>
	</form>

</body>
</html>