<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<!-- 

TEMPLATE FOR FAILED USER INTERACTION

 -->
    <title>Group calendar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<form class="logout" th:action="@{/logout}" method="post">
		<input type="submit" value="logout"/>
	</form>
	<style>.logout{padding-top: 1%; padding-right: 1%; float: right;}</style>
	
	<p th:text="${message}"></p>
</body>
</html>