.logout{padding: 1%; float: right;}
.red{color: red;}
.green{color: green;}
.label{margin-right: 5px;}
.list{background-color: black;}


.element{
	background-color: white;
	margin: 1%;
	padding: 2%;
	border-radius: 10px;
	width: 44%;
	float: left;
}


.home{
	padding: 1%;
}


.elementFull{
	background-color: white;
	margin: 1%;
	padding: 2%;
	border-radius: 10px;
	width: 94%;
	float: left;
}


header{
	width: 100%;
	padding: 5px;
	background-color: rgb(180,180,255);
	float: right;
}

body{
	background-color: rgb(230,230,230);
	font-family: 'Signika', sans-serif;
	padding: 5px;
	padding-left: 15px;
}

.formOut{
	margin-top: 50px;
	padding: 20px;
	background-color: rgb(230,230,255);
	width: 300px;
	border-radius: 15px;
}
	
.form{
	padding: 5px;
	margin-top: 10px;
	border-style: solid;
	border-color: rgb(100,100,250);
	width: 200px;
	background-color: rgb(255,255,255);
}
	
td{
	background-color: white;
	padding: 5px;
}

th{
	background-color: rgb(230,230,255);
	padding: 5px;
}

.link:link, .link:visited{
	border-style: solid;
	border-radius: 5px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-color: rgb(50,50,250);
	color: rgb(0,0,0);
}

.link:hover{
	background-color: rgb(150,150,255);
}

.tableLink:link, .tableLink:visited{
	color: black;
}
